.App {
  text-align: center;
  background-color: lightblue;
}

#items-container {
  text-align: left;
  background-color: greenyellow;
  width: 400px;
  margin: auto;
}

ul {
  list-style-type: circle; 
}

ul li {
  padding: 4px 0 4px 0;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
}

.time{
  font-size: 11px;
  padding-right: 8px;
}
