.App {
  text-align: center;
}

#side-container {
  font-size: 14px;
}

#total {
  padding-right: 25px;
}

#items-container {
  text-align: left;
  width: 400px;
  margin: auto;
}

ul {
  list-style-type: circle; 
  margin: 10px 0;
  border: 1px solid grey;
  padding-left: 30px;
  min-height: 27px;
}

ul li {
  padding: 3px 0 3px 0;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
}

.description {
  padding-top: 2px;
}

.item-details {
  display: inline-block;
  min-width: 138px;
}

.time{
  font-size: 11px;
  padding-right: 5px;
}
